<template>
  <v-col cols="12" class="pa-0">
    <v-card v-for="item in items" :key="item.codigo">
      <v-card-text>
        <v-row>
          <v-col cols="7"><h4>{{ item.descripcion }}</h4></v-col>
          <v-col cols="5">
            <span>
              {{item.precio}}
              <div>
                <h3>x{{ item.cantidad }}</h3>
              </div>
            </span></v-col>
        </v-row>
        <h2>{{item.cantidad * item.precio | currency}}</h2>
      </v-card-text>
      <v-card-actions>
        <v-btn icon color="error" @click="eliminarArticulo(item.codigo)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
        <v-spacer />
        <v-btn icon color="warning" :class="item.cantidad==0?'disabled':''" @click="item.cantidad--">
          <v-icon>mdi-minus</v-icon>
        </v-btn>
        <v-btn icon color="info" @click="item.cantidad++">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
export default {
  name: 'Cart',
  mounted () {
    this.calcularTotales()
  },
  data: () => ({
    items: [
      { codigo: '01', descripcion: 'Harina', cantidad: 2, precio: 80000 },
      { codigo: '02', descripcion: 'Pasta', cantidad: 2, precio: 60000 },
      { codigo: '03', descripcion: 'Arroz', cantidad: 2, precio: 55000 },
      { codigo: '04', descripcion: 'Kg Carne', cantidad: 2, precio: 150000 },
      { codigo: '05', descripcion: 'Sardina', cantidad: 2, precio: 90000 },
      { codigo: '06', descripcion: 'Atun', cantidad: 2, precio: 200000 },
      { codigo: '07', descripcion: 'Kg Queso', cantidad: 2, precio: 260000 },
      { codigo: '08', descripcion: 'Kg Jamon', cantidad: 2, precio: 300000 }
    ]
  }),
  watch: {
    items: {
      deep: true,
      handler () {
        this.calcularTotales()
      }
    }
  },
  methods: {
    eliminarArticulo (codigo) {
      // Eliminar articulo del carrito
      this.items = this.items.filter(item => item.codigo !== codigo)
    },
    calcularTotales () {
      // Cálculo de totales para mostrar en el componente y emitir el evento totales
      var valores = {
        montoTotal: 0,
        totalItems: 0,
        items: this.items.length
      }
      this.items.forEach(item => {
        if (item.cantidad < 0) item.cantidad = 0
        valores.montoTotal += item.cantidad * item.precio
        valores.totalItems += item.cantidad
      })
      this.$emit('totales', valores)
    }
  }
}
</script>
