<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col
        v-for="item in categories"
        :key="item.id"
        cols="12"
        sm="4"
        md="4"
        lg="3"
        xl="2"
        justify-center
      >
        <v-card>
          <router-link
            :to="item.url"
          >
            <v-img
              :src="item.img"
              contain
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              class="white--text align-end"
            >
              <v-card-title primary-title>
                <h3 class="headline text-capitalize word-break-none mb-0">{{item.title.toLowerCase()}}</h3>
                <div v-if="item.isProduct">{{item.count}} artículos </div>
              </v-card-title>
            </v-img>
          </router-link>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// import firebase from 'firebase'
import dataCategories from '../../mixins/data/categories'
export default {
  name: 'categories',
  mixins: [dataCategories]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.word-break-none {
  word-break: keep-all;
}
</style>
