<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col
        v-for="item in products"
        :key="item.id"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <product-card
          :title='item.description'
          :image='item.img'
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import dataProducts from '../../mixins/data/products'
import productCard from '../../components/shop/ProductCard'
export default {
  name: 'Products',
  components: { productCard },
  data () {
    return {

    }
  },
  mixins: [dataProducts]

}
</script>

<style scoped>

</style>
