.<template>
  <v-container>
    <v-row no-gutters>
      <v-col
        sm="6"
        :order="model!==1?'1':'2'"
        :order-sm="model===1?'1':'2'"
      >
        <v-btn
          :depressed="model===1"
          :small="model!==1"
          block
          :color="model!==1?'secondary':'primary'"
          @click="model=1"
        >
          Retiro en tienda
        </v-btn>
      </v-col>
      <v-col
        sm="6"
        :order="model!==2?'1':'2'"
        :order-sm="model===2?'1':'2'"
      >
        <v-btn
          :depressed="model===2"
          :small="model!==2"
          block
          :color="model!==2?'secondary':'primary'"
          @click="model=2"
        >
          Servicio de entrega
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        {{model}}
        <v-window model="option">
          <v-window-item value="1">

          </v-window-item>
          <v-window-item value="2">

          </v-window-item>
        </v-window>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      model: 1
    }
  }
}
</script>

<style>

</style>
