.<template>
  <v-container id="scroll-target" v-scroll="onScroll">
    <h2>Detalles de su compra</h2>
    <v-row
      v-scroll:#scroll-target="onScroll"
      no-gutters
    >
      <v-col
        cols="12"
        sm="6"
        order-sm="2"
      >
        <div :class="totalFixed?'floating-right':''">
          <v-card >
            <v-card-title primary-title>
              <h5 class="subtitle">Total a pagar</h5>
              <h3 style="width: 100%;">
                {{totalCarrito | currency}}
                <v-icon class="float-right" color="primary">mdi-cash-multiple</v-icon>
              </h3>
            </v-card-title>
          </v-card>
          <v-card class="mb-5">
            <v-card-title primary-title>
              <h3 style="width: 100%;">
                {{articulos}} productos
                <v-icon class="float-right" color="primary">mdi-cart-outline</v-icon>
              </h3>
            </v-card-title>
            <v-card-text color="info">
                {{totalArticulos}} artículos
            </v-card-text>
            <v-card-actions v-show="totalFixed">
              <v-btn
                block
                color="primary"
                @click="$emit('moveOn')"
              >
                Continuar
                <v-icon>mdi-arrow-right-bold-outline</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        order="1"
        :class="!isXs?'px-2':''"
      >
        <cart @totales="actualizarTotal"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Cart from '../Cart'
export default {
  mounted () {
    this.$emit('completeChange', true)
  },
  components: {
    Cart
  },
  data () {
    return {
      totalCarrito: 0,
      articulos: 0,
      totalArticulos: 0,
      scrollDistance: 0,
      isXs: false
    }
  },
  methods: {
    actualizarTotal (total) {
      this.totalCarrito = total.montoTotal
      this.articulos = total.items
      this.totalArticulos = total.totalItems
    },
    onScroll (e) {
      this.scrollDistance = e.target.scrollingElement.scrollTop
    }
  },
  computed: {
    totalFixed () {
      return this.scrollDistance > 350 && !this.isXs
    }
  }
}
</script>

<style scope>
  .floating-right{
    position: fixed;
    float:right;
    top: 70px;
}
</style>
