<template>
  <v-container grid-list-xs fluid>
    <h2>Perfil del usuario</h2>
    <v-row>
        <v-col cols="12">
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'UserProfile'
}
</script>
