<template>
  <v-app id="sandbox">
    <v-navigation-drawer
      v-model="menucarrito"
      app
      width="300"
      floating
      clipped
    >
      <cart-drawer
        @closemenu="menucarrito=false"
      />
    </v-navigation-drawer>

    <app-bar
      @openmenu="menucarrito=true"
    />

    <v-content>
      <v-container fluid>
        <v-row v-if="titulo">
          <v-col cols=2 v-if="!$vuetify.breakpoint.smAndUp">
            <v-btn icon large="" color="accent">
              <v-icon large>mdi-arrow-left-bold-box-outline</v-icon>
            </v-btn>
          </v-col>
          <v-col cols=10 sm=12>
            <h3>{{titulo}}</h3>
          </v-col>
        </v-row>
        <v-row
          justify="center"
        >
          <v-col cols="12">
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer
      app
      inset
    >
      <span class="justify-end px-4">Tienda propulsada por TraeYa.app&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import CartDrawer from './components/index/CartDrawer'
import AppBar from './components/index/AppBar'
export default {
  components: {
    CartDrawer,
    AppBar
  },
  mounted () {
    this.menu = false
  },
  data: () => ({
    titulo: '',
    menucarrito: false
  }),
  watch: {
    $route (to, from) {
      // react to route changes...
      switch (to.name) {
        case 'Products':
          this.titulo = to.params.category
          break
        case 'Categories':
          this.titulo = ''
          break
        default:
          break
      }
    }
  }
}
</script>

<style>
.pointer {
  cursor: pointer;
}
</style>
