<template>
  <v-app-bar
    clipped-left
    app
    elevate-on-scroll
    align="center"
  >
    <v-icon
      @click.stop="menucarrito = !menucarrito"
      class="mr-6"
      >
      mdi-cart
    </v-icon>

    <v-toolbar-title class="header">
        TraeYa
    </v-toolbar-title>

    <v-spacer />

    <v-btn @click="search=!search" icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-menu
      transition="slide-x-transition"
      bottom
      right
      :close-on-content-click="false"
      :nudge-width="250"
      :value="menu"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="primary"
          dark
          v-on="on"
          icon
          v-if="!usuario"
          >
          <v-icon>mdi-account</v-icon>
        </v-btn>
        <v-avatar
          v-else
          color="red"
          v-on="on"
          size="36px"
          class="pointer"
        >
        <v-img
          :src="usuario.photoURL"
        >
        </v-img>
        </v-avatar>
      </template>
      <v-card>
        <v-btn
          color="secondary-lighten1"
          @click="menu = !menu"
          class="pointer"
          icon
        >
          <v-icon>mdi-close-circle-outline</v-icon>
        </v-btn>
        <v-list>
          <v-list-item
            @click="$vuetify.theme.dark=!$vuetify.theme.dark;menu=!menu"
            primary>
              <v-icon>{{$vuetify.theme.dark?'mdi-white-balance-sunny':'mdi-weather-night'}}</v-icon>
              {{$vuetify.theme.dark?'Modo claro':'Modo oscuro'}}
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <session />
      </v-card>
    </v-menu>
    <template #extension v-if="search">
      <v-slide-x-transition hide-on-leave>
        <v-container fluid>
          <v-row>
            <v-col
              cols="12"
              sm="4"
              offset-sm="8"
              md="6"
              offset-md="6"
            >
              <span>
              <v-text-field
                :style="styleSearch"
                v-show="search"
                placeholder="Buscar productos"
                label="Buscar"
                single-line
                hide-details
                color="secondary"
                v-model="searchKey"
              />
              </span>
            </v-col>
          </v-row>
        </v-container>
      </v-slide-x-transition>
    </template>
  </v-app-bar>
</template>

<script>
import Session from './Session'
export default {
  components: {
    Session
  },
  mounted () {
    this.menu = false
  },
  data: () => ({
    menucarrito: true,
    menu: false,
    searchKey: '',
    search: false
  }),
  watch: {
    menucarrito () {
      this.$emit('openmenu')
    }
  },
  computed: {
    usuario () {
      return Object.is(this.$store.state.userInfo, {}) ? this.$store.state.userInfo : false
    },
    styleSearch () {
      switch (true) {
        case this.$vuetify.breakpoint.smAndUp:
          return 'width:50%; flex:unset;'
        case this.$vuetify.breakpoint.xsAndDown:
          return 'width:100%;'
      }
      return 'width:100%;'
    }
  }
}
</script>
