<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col cols="10">
        <v-btn color="primary"
          to="/checkout"
          icons-and-text
          block
        >
          <v-icon>mdi-cash-register</v-icon>Pagar carrito
        </v-btn>
      </v-col>
      <v-col cols="2">
        <v-btn
          color="secondary-lighten1"
          @click="closeMenu"
          class="pointer"
          icon
        >
        <v-icon>mdi-close-circle-outline</v-icon>
        </v-btn>
      </v-col>
        <v-col cols="12">
        <v-list dense>
            <v-list-item>
            Total del carrito: {{ totalCarrito }}
            </v-list-item>
            <v-list-item>
            Total de artículos: {{ totalArticulos }}
            </v-list-item>
        </v-list>
        </v-col>
    </v-row>
    <v-row>
    <cart
        @totales="actualizarTotal"
    />
    </v-row>
  </v-container>
</template>

<script>
import Cart from '../shop/Cart'
export default {
  name: 'CartDrawer',
  components: {
    Cart
  },
  data: () => ({
    totalCarrito: 0,
    articulos: 0,
    totalArticulos: 0,
    titulo: '',
    menucarrito: false
  }),
  methods: {
    closeMenu () {
      this.$emit('closemenu')
    },
    actualizarTotal (total) {
      this.totalCarrito = total.montoTotal
      this.articulos = total.items
      this.totalArticulos = total.totalItems
    }

  }
}
</script>

<style>

</style>
