<template>
  <v-container fluid>
    <v-row v-show="mensaje===''">
      <v-col cols="12">
        <div class="caption text-red">
          {{mensaje}}
        </div>
      </v-col>
    </v-row>
    <v-window
      v-model="etapa"
    >
      <!--Stage 0: Login options-->
      <v-window-item :value="0">
        <v-row>
          <v-col cols="12" :disabled="getActiveProvider!=='email'">
            <v-text-field
              filled
              label="Correo electrónico"
              v-model="email"
              type="email"
              :disabled="busy"
              :loading="busy"
            ></v-text-field>
            <v-btn
              block
              color="primary"
              dark
              :disabled="busy"
              :loading="busy"
              @click="accesoCorreo"
            >Acceso</v-btn>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <span class="caption grey--text text--darken-1">
          Puede acceder con sus cuentas de redes sociales
        </span>
        <v-row align="center">
          <v-col cols="12">
            <v-row
              v-for="auth in authProviders"
              :key="auth.id"
              class="px-4 my-2"
            >
              <v-btn
                block
                :color="auth.color"
                dark
                small
                :loading="busy"
                :disabled="getActiveProvider===auth.id "
                @click="accesoOAuth(auth.id)"
              >
                <v-icon>{{auth.icon}}</v-icon>
                <span>{{auth.text}}</span>
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-window-item>
      <!--Stage 1: Access with email and password-->
      <v-window-item :value="1">
        <v-row>
            <v-col cols="12">
              <v-text-field
                filled
                label="Contraseña"
                v-model="password"
                :type="verClave?'password':'text'"
                :disabled="busy"
                :append-icon="verClave?'mdi-eye-off':'mdi-eye'"
                @click:append="verClave=!verClave"
              ></v-text-field>
              <v-btn
                block
                color="primary"
                dark
                :disabled="busy"
                :loading="busy"
                @click="etapa=1"
              >Entrar</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-btn
                block
                color="error"
                dark
                :disabled="busy"
                :loading="busy"
                @click="etapa=0"
              >
                <v-icon>mdi-chevron-left-circle</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="9">
              <v-btn
                block
                color="secondary"
                outlined
                small
                :disabled="busy"
                :loading="busy"
                @click="etapa=0"
              >
                <v-icon>mdi-account-key</v-icon>
                <span>Recuperar clave</span>
              </v-btn>
            </v-col>
          </v-row>
      </v-window-item>
      <!--Stage 2: Create email account-->
      <v-window-item :value="2">
        <v-row>
            <v-col cols="12">
              <v-text-field
                filled
                label="Ingrese su nombre y apellido"
                v-model="nombre"
                type="text"
                :disabled="busy"
              ></v-text-field>
              <v-text-field
                filled
                label="Ingrese su contraseña"
                v-model="password"
                type="password"
                :disabled="busy"
              ></v-text-field>
              <v-text-field
                filled
                label="Verifique su contraseña"
                type="password"
                :disabled="busy"
              ></v-text-field>
              <v-btn
                block
                color="primary"
                dark
                :disabled="busy"
                :loading="busy"
                @click="etapa=1"
              >Entrar</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-btn
                block
                color="error"
                dark
                @click="etapa=0"
                :disabled="busy"
                :loading="busy"
              >
                <v-icon>mdi-chevron-left-circle</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="9">
              <v-btn
                block
                color="secondary"
                outlined
                small
                :disabled="busy"
                :loading="busy"
                @click="etapa=0"
              >
                <v-icon>mdi-account-key</v-icon>
                <span>Recuperar clave</span>
              </v-btn>
            </v-col>
          </v-row>
      </v-window-item>
      <!--Stage 3: Verify email account creation-->
      <!--Stage 4: Access with existing social account-->
       <v-window-item :value="4">
        <p>
          Usted ya posee una cuenta con este correo electrónico. Acceda desde las siguientes opciones
        </p>
        <v-row align="center">
          <v-col cols="12">
            <v-row
              v-for="auth in authProvidersEnabled"
              :key="auth.id"
            >
              <v-btn
                block
                :color="auth.color"
                dark
                small
                :disabled="busy"
                :loading="busy"
                @click="accesoOAuth(auth.id)"
              >
                <v-icon>{{auth.icon}}</v-icon>
                <span>{{auth.text}}</span>
              </v-btn>
            </v-row>
          </v-col>
        </v-row>
      </v-window-item>
      <!--Stage 5: Logout-->
      <v-window-item
        :value="5"
        v-if="usuario"
      >
        <v-row dense align="center">
          <v-col cols="12">
            <v-row>
              <v-card
                class="mx-auto"
                max-width="200"
              >
                <v-img
                  :src="usuario.photoURL"
                  contain
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  class="white--text align-end"
                >
                  <v-card-title v-text="usuario.displayName"></v-card-title>
                </v-img>
                <v-card-actions>
                  <v-btn
                    block
                    dark
                    small
                    @click="cerrarSesion()"
                    :disabled="busy"
                    :loading="busy"
                  >
                    <v-icon>mdi-logout</v-icon>
                    <span>Cerrar sesion</span>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-row>
          </v-col>
        </v-row>
      </v-window-item>
    </v-window>
  </v-container>
</template>

<script>
import firebaseApp from 'firebase'
export default {
  name: 'session',
  data () {
    return {
      nombre: '',
      email: '',
      password: '',
      busy: false,
      etapa: 0,
      verClave: true,
      authProviders: [
        {
          id: 'google.com',
          name: 'google',
          text: 'Google',
          color: '#db4a39',
          icon: 'mdi-google',
          enabled: false
        },
        {
          id: 'facebook',
          name: 'facebook',
          text: 'Facebook',
          color: '#3b5998',
          icon: 'mdi-facebook',
          enabled: false
        }
      ],
      activeProvider: '',
      mensaje: ''
    }
  },
  mounted () {
    if (firebaseApp.auth().currentUser) this.etapa = 5
  },
  methods: {
    accesoCorreo () {
      this.busy = true
      firebaseApp.auth().fetchSignInMethodsForEmail(this.email)
        .then(response => {
          this.activeProvider = 'email'
          // Si no hay cuentas creadas, crea una cuenta con correo
          if (response.length === 0) {
            this.etapa = 2
            return
          }
          // Si ya hay alguna cuenta creada
          if (response.includes('password')) {
            // Si la cuenta es de correo y clave
            this.etapa = 1
            return
          }
          // Si es una cuenta de otro proveedor, habilita los proveedores disponibles
          this.etapa = 4
          this.authProviders = this.authProviders.map(auth => {
            auth.enabled = response.includes(auth.id)
            return auth
          })
        },
        rejectReason => {
          if (rejectReason.code === 'auth/invalid-email') {
            this.mostrarMensaje('Email invalido')
          } else {
            this.mostrarMensaje(`Rejected: ${JSON.stringify(rejectReason)}`)
          }
        }
        ).catch(error => {
          this.mostrarMensaje(`Error: ${JSON.stringify(error)}`)
        }).finally(() => {
          this.activeProvider = ''
          this.busy = false
        })
    },
    accesoOAuth (providerId) {
      this.busy = true
      this.activeProvider = providerId
      switch (providerId) {
        case 'google.com':
          firebaseApp.auth().signInWithPopup(new firebaseApp.auth.GoogleAuthProvider())
            .then(user => {
              this.etapa = 5
            })
            .catch(error => {
              this.mostrarMensaje(error)
              this.etapa = 0
            }).finally(() => {
              this.busy = false
              this.activeProvider = ''
            })
          break
        case 'facebook':
          this.mostrarMensaje('Acceso con facebook')
          break
        default:
          break
      }
    },
    cerrarSesion () {
      this.busy = true
      firebaseApp.auth().signOut().then(respuesta => {
        this.etapa = 0
      }).finally(() => {
        this.busy = false
      })
    },
    mostrarMensaje (mensaje) {
      this.mensaje = mensaje
      setTimeout(() => {
        this.mensaje = ''
      }, 3000)
    }
  },
  computed: {
    authProvidersEnabled () {
      return this.authProviders.filter(option => option.enabled)
    },
    usuario () {
      return this.$store.state.userInfo
    },
    getActiveProvider () {
      return this.busy ? this.activeProvider : ''
    }
  }
}
</script>
